%title= base(video)
:css
  body { background-color: #000; }
  video { position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; }
%video{:autoplay => true}
  %source{:src => video}
