!!! XML
!!!
%html
  %head
    %title= base(video)
    %meta{"http-equiv"=>"Content-Type", "content"=>"text/html; charset=UTF-8"}

    :css
      body { background-color: #000; }
      video { position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; }


%body

  %video#vid{:autoplay => true, :ondblclick=>"toggle_fullscreen();"}
    %source{:src => video}


:javascript
  vid = document.getElementById("vid");
  // var fs_func = (vid.webkitEnterFullScreen || vid.mozRequestFullScreen);

  function toggle_fullscreen() {
    if (document.mozFullScreen || document.webkitIsFullScreen) {
      if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else if (document.webkitCancelFullScreen) {
        document.webkitCancelFullScreen();
      } else {
        console.log("no exit-fullscreen function found.");
      }
    } else {
      /*
      if (vid.webkitEnterFullScreen) {
        vid.webkitEnterFullScreen();
      */
      if (vid.webkitRequestFullscreen) {
        vid.webkitRequestFullscreen();
      } else if(vid.mozRequestFullScreen) {
        vid.mozRequestFullScreen();
      } else {
        console.log("no fullscreen function found.")
      }
    }
  }
